@charset "UTF-8";

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

*,
::after,
::before {
    -webkit-box-sizing: border-boxf;
    box-sizing: border-boxf;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

img {
    display: block;
    height: auto;
}

/* Logo */
.main-nav__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.main-nav__logolink {
    text-decoration: none;
    margin-right: 90px;
}

.main-nav__logo:hover,
.main-nav__logo:focus {
    color: var(--accent-color);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

/* Site nav */
.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-nav__link {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.site-nav__current {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
    position: relative;
    color: var(--accent-color);
}

.site-nav__current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: accent-color;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    -webkit-transition: opacity 250ms var(--timing-fungtion);
    transition: opacity 250ms var(--timing-fungtion);
}

.site-nav__link:hover {
    color: #2196F3;
}

/* Auth nav */
.auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.link-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-adres-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-adres::before {
    display: inline-block;
    content: "";
    width: 21px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/poshta.svg");
    background-size: contain;
    cursor: pointer;
    color: #2196F3;
    margin-right: 10px;
}

.link-tel::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/tel.svg");
    background-size: contain;
    cursor: pointer;
    color: #2196F3;
    margin-right: 10px;
}

.link-tel {
    fill: #2196F3;
}

.icone:hover {
    fill: #ffffff;
}

.auth-nav .link-adres .link-tel {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: var(--accent-color);
}

.link-tel:hover {
    color: var(--accent-color);
}

.main-nav__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
}

.main-nav__logolink {
    text-decoration: none;
    margin-right: 90px;
}

.main-nav__logo:hover,
.main-nav__logo:focus {
    color: #2196F3;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

/* Site nav */
.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-nav_link {
    color: #212121;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.site-nav__current {
    color: #212121;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
    position: relative;
    color: #2196F3;
}

.site-nav__current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav_link:hover {
    color: #2196F3;
}

/* Auth nav */
.auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.link-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-adres::before {
    display: inline-block;
    content: "";
    width: 21px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/poshta.svg");
    background-size: contain;
    cursor: pointer;
    color: #2196F3;
    margin-right: 10px;
}

.link-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link-tel::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/tel.svg");
    background-size: contain;
    cursor: pointer;
    color: #2196F3;
    margin-right: 10px;
}

.link-tel {
    fill: #2196F3;
}

.link-tel:hover {
    color: #2196F3;
}

.icone:hover {
    fill: #ffffff;
}

.auth-nav .link-adres .link-tel {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: #2196F3;
}

/*HERO Bunner*/
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img\ \(1\).jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212121;
}

.bunner {
    margin: 0;
}

.herotitle {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 40px;
}

/* Button */
.button {
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #2196F3;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.button:hover {
    color: #2196F3;
    background-color: #ffffff;
}

.button.secondary {
    color: #2196F3;
    background-color: #ffffff;
}

/*Герои*/
.section-title {
    margin-top: 94px;
}

.future-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.zagolovok {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.abzac {
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    width: 245px;
    height: 63px;
}

.iconeli {
    border-radius: 50%;
    background-size: 20px;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.bicon {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.icone {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    padding: 15px;
}

.icone:hover {
    fill: #ffffff;
}

.iconeli:hover {
    background-color: #2196f3;
}

.future-list>.item {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    margin-right: 30px;
    margin-bottom: 94px;
}

.future-list>.item:last-child {
    margin-right: 0;
}

/*Чем мы занимаемся*/
.section-work {
    background-color: #ffffff;
}

.my-work {
    color: #212121;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.prodact-thumb {
    position: relative;
}

.product-actions {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.prodact-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

/*Наша команда*/
.team {
    background-color: #F5F4FA;
}

.our-team {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    margin-bottom: 50px;
}

.item>.border {
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.zagolovok-border {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.abzac-border {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: #757575;
}

/*Футер*/
.containar-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #2F303A;
}

.logolink-futer {
    text-decoration: none;
}

.logo-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logos-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}

.logos-footer:hover {
    color: #2196F3;
}

.footer-list {
    margin: 0;
}

.paragraph {
    margin: 0;
    margin-bottom: 20px;
}

.adress {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin: 0;
    padding-bottom: 9px;
}

.adreslist-footer {
    margin: 0;
}

.link-footer {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.link-footer:hover {
    color: #2196F3;
}

/*Portfolio*/
/*Кнопки навигации*/
.ul-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 56px;
}

.button-list {
    margin-right: 30px;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    text-decoration: none;
    color: #212121;
    background-color: #F5F4FA;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-list:hover {
    color: #ffffff;
    background-color: #2196F3;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Список товаров и услуг*/
.card-set {
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.card-set:nth-child(3n) {
    margin-right: 0;
}

.card-set:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.card-set:hover {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-portfolio {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.item-portfolio>.card-set {
    border: 1px solid #EEEEEE;
}

.titl {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.benefits {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*постоянные клиенты*/
.list-best {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 94px;
}

.my-client {
    color: #212121;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
}

.iter::before {
    content: "";
    display: block;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
}

.iter {
    margin-right: 30px;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.iter:hover {
    border: 1px solid #2196F3;
}

.iter:nth-child(1)::before {
    background-image: url(../img/Logo\ \(1\).svg);
}

.iter:nth-child(2)::before {
    background-image: url(../img/company.svg);
}

.iter:nth-child(3)::before {
    background-image: url(../img/krug.svg);
}

.iter:nth-child(4)::before {
    background-image: url(../img/foster\ peters.svg);
}

.iter:nth-child(5)::before {
    background-image: url(../img/brend.svg);
}

.iter:nth-child(6)::before {
    background-image: url(../img/kub.svg);
}

.iter:nth-child(6n) {
    margin-right: 0;
}

.span-logo {
    display: none;
}

/*Footers*/
.footer-setion {
    display: block;
    background-color: #2f303a;
}

.accent {
    color: #ffffff;
}

.accent:hover {
    color: #2196F3;
}

.container.container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 252px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.adres-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-right: 75px;
    min-width: 231px;
    margin-top: 60px;
}

.social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 207px;
    margin-right: 93px;
}

.accession {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 20px;
}

.lezt-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 94px;
}

.iten-one {
    padding-bottom: 9px;
}

.info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.info:hover {
    color: #2196F3;
}

.links-one {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/inst\ footer\ \(2\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-twit {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/twitter\ footer\ \(1\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-faceb {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/fb\ foter.svg);
    border-radius: 50%;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/In\ footer\ \(3\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.links-faceb:hover {
    background-color: #2196F3;
}

.links-one:hover {
    background-color: #2196F3;
}

.links-twit:hover {
    background-color: #2196F3;
}

.links-link:hover {
    background-color: #2196F3;
}



.destance {
    padding-right: 12px;
}

.subscribe {
    border: none;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    background: #2196F3;
    border-radius: 4px;
}

.subscribes {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

/* Backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
}

/* Popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #ffffff;
    color: black;
    min-width: 528px;
    min-height: 581px;
    padding: 10px;
    position: relative;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    opacity: 0;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.js-speaker-form {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.popup__close {
    position: absolute;
    right: 8px;
    top: 8px;
    color: black;
    text-decoration: none;
}

.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: #bdbdbd;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    -webkit-transform: translatey(100%);
    transform: translatey(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set:hover .overlay {
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.overlay p {
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

textarea {
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.textarea:hover {
    border: 10px solid #2196F3;
}

.form-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.form {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-field label {
    position: absolute;
    top: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: 4px;
}

.form-input:hover {
    cursor: pointer;
    border: 1px solid #2196F3;
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-field input {
    margin: 0;
    padding: 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
}

.forms-field input {
    margin: 0;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 155px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
}

.form-field input:hover {
    border: 1px solid #2196F3;
}

.forms-field input:-moz-placeholder-shown {
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.forms-field input:-ms-input-placeholder {
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.forms-field input:placeholder-shown {
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.topic-options {
    padding: 0;
    margin: 0;
}

.checkbox {
    /* appearance: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
}

.checkbox:checked+.checkbox-icon {
    border-color: transparent;
    background-color: #2196F3;
    background-image: url(../img/Vector.svg);
    background-size: contain;
    background-origin: border-box;
}

.checkbox:checked~.box-span {
    -webkit-transform: translatey(-3px);
    transform: translatey(-3px);
}

.topic-options label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.box-span {
    padding-left: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: #2196F3;
}

.box-span {
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.submit {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: 121px;
    margin-top: 30px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 56px;
    background: #188CE8;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.submit:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: teal;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Подписаться */
.batton {
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 29px;
    background: #2196F3;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.batton:hover,
.batton:focus {
    background-color: teal;
    border: none;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.batton::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url("../img/icon send.svg");
    background-size: contain;
}

.iconx {
    width: 16px;
    height: 12px;
}

.iconx .letter {
    fill: #212121;
}

.iconxx {
    width: 16px;
    height: 20px;
}

.iconxx .letter {
    fill: #212121;
}

.iconxl {
    width: 20px;
    height: 20px;
}

.iconxl.letter.letter {
    fill: #212121;
}

.iconx .letter:hover {
    fill: #2196F3;
}

.iconxl .letter:hover {
    fill: #2196F3;
}

.iconxx .letter:hover {
    fill: #2196F3;
}

/*# sourceMappingURL=main.css.map */