/* Auth nav */

.auth-nav {
    display: flex;
    margin-left: auto;

    & .item+.item {
        margin-left: 50px;
    }
}

.link-adres {
    display: flex;
    color: $title-text-color;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    &-tel {
        display: flex;
        color: $title-text-color;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }

    &::before {
        display: inline-block;
        content: "";
        width: 21px;
        height: 16px;
        margin-left: 10px;
        background-image: url("../img/poshta.svg");
        background-size: contain;
        cursor: pointer;
        color: $accent-color;
        margin-right: 10px;
    }
}

.link-tel::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/tel.svg");
    background-size: contain;
    cursor: pointer;
    color: $accent-color;
    margin-right: 10px;

    & {
        fill: $accent-color;
    }
}

.icone:hover {
    fill: $primary-white-color;
}

.auth-nav .link-adres .link-tel {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-adres:hover {
    color: $accent-color;
}

.link-tel:hover {
    color: $accent-color;
}

.main-nav__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-decoration: none;

    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}


.logos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-decoration: none;
}

.main-nav__logolink {
    text-decoration: none;
    margin-right: 90px;

    &__logo:hover,
    &__logo:focus {
        color: $accent-color;
        transition: transform 250ms $timing-fungtion;
    }
}