/*Footers*/

.footer-setion {
    display: block;
    background-color: #2f303a;
}

.accent {
    color: $primary-white-color;


    &:hover {
        color: $accent-color;
    }
}

.container.container-footer {
    display: flex;
    height: 252px;
    align-items: baseline;
}

.adres-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 75px;
    min-width: 231px;
    margin-top: 60px;
}

.social-container {
    display: flex;
    flex-direction: column;
    min-width: 207px;
    margin-right: 93px;
}

.accession {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    padding-bottom: 20px;
}

.lezt-post {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 94px;
}

.iten-one {
    padding-bottom: 9px;
}

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.info:hover {
    color: $accent-color;
}

.links-one {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/inst\ footer\ \(2\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: $accent-color;
    }
}

.links-twit {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/twitter\ footer\ \(1\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: $accent-color;
    }
}

.links-faceb {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/fb\ foter.svg);
    border-radius: 50%;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: $accent-color;
    }
}

.links-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/In\ footer\ \(3\).svg);
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: $accent-color;
    }
}

.destance {
    padding-right: 12px;
}

.subscribe {
    border: none;
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;

    background: $accent-color;
    border-radius: 4px;


}

.subscribes {
    display: inline-flex;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.06em;

    color: $primary-white-color;
}