/* Logo */

.main-nav__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-decoration: none;

    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-decoration: none;
}

.main-nav__logolink {
    text-decoration: none;
    margin-right: 90px;
}


.main-nav__logo:hover,
.main-nav__logo:focus {
    color: $accent-color;
    transition: transform 250ms $timing-fungtion;
}