/*постоянные клиенты*/

.list-best {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 94px;
}

.my-client {
    color: $title-text-color;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 94px;
}

.iter {
    margin-right: 30px;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

&::before {
    content: "";
    display: block;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;


    &:hover {
        border: 1px solid $accent-color;
    }

    &:nth-child(1)::before {
        background-image: url(../img/Logo\ \(1\).svg);
    }

    &:nth-child(2)::before {
        background-image: url(../img/company.svg);
    }

    &:nth-child(3)::before {
        background-image: url(../img/krug.svg);
    }

    &:nth-child(4)::before {
        background-image: url(../img/foster\ peters.svg);
    }


    &:nth-child(5)::before {
        background-image: url(../img/brend.svg);
    }

    &:nth-child(6)::before {
        background-image: url(../img/kub.svg);
    }

    &:nth-child(6n) {
        margin-right: 0;
    }
}

.span-logo {
    display: none;
}