/*Чем мы занимаемся*/

.section-work {
    background-color: $primary-white-color;
}

.my-work {
    color: $title-text-color;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.prodact-thumb {
    position: relative;
}

.product-actions {
    position: absolute;

    display: flex;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);

    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center
}

.prodact-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
}