
*,
::after,
::before {
    box-sizing: border-boxf;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.wraper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

img {
    display: block;
    height: auto;
}

