$primary-text-color: rgba(0, 0, 0, 0.8);
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$black-color: black;
$adres-color: #757575;
$secondary-bg-color: #f5f5f5;
$secondary-bg-team: #F5F4FA;
$baner-footer-color: #2F303A;
$timing-fungtion: cubic-bezier(0.4, 0, 0.2, 1);